@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
}
body{
    font-family: var(--sm-font);
}
.btn:not(.nav-btns button):hover{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}

/* text color */
.text-primary{
    color: var(--pink)!important;
}

/* navbar */
.navbar{
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img{
    width: 30px;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.nav-link:hover{
    color: var(--pink)!important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}


/* button */
.bg-primary{
    background-color: var(--pink)!important;
}
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}


.fa{
    color: green;
}
.bi{
    color: green;
}



.banner-image{
    background-image: url("Img/font2.jpg");
    background-size: cover;
}


footer.nb-footer {
    background: #222;
    border-top: 5px solid green;
}

footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1170px;
    text-align: center; 
 }
footer.nb-footer .about p {
    font-size: 15px;
    color: #999;
    margin-top: 30px
}

footer.nb-footer .about .social-media ul li a:hover {
    background: green;
    color: #fff;
    border-color: green; 
}

footer.nb-footer .footer-info-single {
    margin-top: 30px; 
}
footer.nb-footer .footer-info-single .title {
     color: #aaa;
     text-transform: uppercase;
     font-size: 16px;
     border-left: 4px solid green;
     padding-left: 5px; 
    }
footer.nb-footer .footer-info-single ul li a {
     display: block;
     color: #aaa;
     padding: 2px 0;
     }
footer.nb-footer .footer-info-single ul li a:hover {
     color: green;
     }
footer.nb-footer .footer-info-single p {
     font-size: 13px;
     line-height: 20px;
    color: #aaa;
 }
footer.nb-footer .copyright {
      margin-top: 15px;
     background: #111;
     padding: 7px 0;
    color: #999; 
}
footer.nb-footer .copyright p {
     margin: 0;
    padding: 0;
    text-align: center;
 }

.image {
    margin-top: 20px;
    position: relative;
    width: 90%;
    overflow: hidden
}
.image .overlay {
    position: absolute;
    bottom: 0;
    padding-left: 15px;
    padding-top: 85px;
    width: 100%;
    color: white;
    font-size: 50px;
    
    z-index: 5
}

.image .overlay::before {
    content: "";
    background: white;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: -150px;
    z-index: -2;
    opacity: 0.5;
    transition: all 0.3s ease-out
}
.image:hover .overlay {
    color: black;
  
}

.container .image:hover .overlay .amount,
.container .image:hover .overlay .h4,
.container .image:hover .overlay .textmuted,
.container .image:hover .overlay .review {
    color: black
}

.image:hover .overlay::before {
    bottom: 0px
}
.image:hover .overlay {
    color: black
}

.textmuted {
    color: #f8f8f8;
    font-weight: 300;
    font-size: 65px;
    text-transform: capitalize
}







  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }
  .sproduct input{
      width: 61px;
      height: 40px;
      padding-left: 10px;
      font-size: 16px;
      margin-right: 10px;
  }
.sproduct input:focus{
 outline: none;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    border:3px solid black;
}
.text-style{
    font-size: 3rem;
    font-weight: bolder;
}
.ul-style{
    font-size: 19px;
   
    }

